@page "/House"
@using System.Threading;
@inject HttpClient Http
@inject GameState GameState
@inject MessageManager  MessageManager
@inject Microsoft.AspNetCore.Blazor.Services.WebAssemblyUriHelper UriHelper
@implements IDisposable

<h1>Welcome Home</h1>

@LoadHouse()
@LoadBuildableRoomDropdown()
@ShowRoomData()
@if (currentRoom == null)
{
    @BuildNewRoomButton()
}
else
{
    @WorkOnRoomButton()
    <button onclick="@(() => CompleteNewRoom())">Complete Room</button>
}




@functions{

    private string newRoomName;
    private Room currentRoom;
    private int loadedPlanks;
    private int loadedBars;
    private bool isConstructing = false;

    private RenderFragment LoadHouse()
    {
        return builder =>
        {
            builder.OpenElement(1, "div");
            builder.AddAttribute(2, "class", "dropdown");
            builder.AddAttribute(2, "style", "margin-bottom:10px");
            builder.OpenElement(3, "button");

            builder.AddAttribute(4, "class", "btn btn-primary dropdown-toggle");
            builder.AddAttribute(5, "type", "button");
            builder.AddAttribute(6, "id", "dropdownMenuButton");
            builder.AddAttribute(7, "data-toggle", "dropdown");
            builder.AddAttribute(8, "aria-haspopup", "true");
            builder.AddAttribute(9, "aria-expanded", "false");
            builder.AddContent(10, "Choose a room to enter");
            builder.CloseElement();
            builder.OpenElement(11, "div");
            builder.AddAttribute(12, "class", "dropdown-menu");
            builder.AddAttribute(13, "aria-labelledby", "dropdownMenuButton");
            foreach (Room room in GameState.GetPlayer().house.GetRooms())
            {

                builder.OpenElement(14, "a");
                builder.AddAttribute(15, "class", "dropdown-item");
                builder.AddAttribute(16, "onclick", () => GoToRoom(room));
                builder.AddContent(17, room.Name);
                builder.CloseElement();


            }

            builder.CloseElement();
            builder.CloseElement();
        };
    }
    private RenderFragment LoadBuildableRoomDropdown()
    {
        return builder =>
        {
            builder.OpenElement(1, "div");
            builder.AddAttribute(2, "class", "dropdown");
            builder.AddAttribute(2, "style", "margin-bottom:10px");
            builder.OpenElement(3, "button");

            builder.AddAttribute(4, "class", "btn btn-primary dropdown-toggle");
            builder.AddAttribute(5, "type", "button");
            builder.AddAttribute(6, "id", "dropdownMenuButton");
            builder.AddAttribute(7, "data-toggle", "dropdown");
            builder.AddAttribute(8, "aria-haspopup", "true");
            builder.AddAttribute(9, "aria-expanded", "false");
            if (newRoomName == null)
            {
                builder.AddContent(10, "Build a New Room");
            }
            else
            {
                builder.AddContent(10, newRoomName);
            }

            builder.CloseElement();
            builder.OpenElement(11, "div");
            builder.AddAttribute(12, "class", "dropdown-menu");
            builder.AddAttribute(13, "aria-labelledby", "dropdownMenuButton");
            foreach (Room room in Program.roomManager.GetRooms())
            {

                builder.OpenElement(14, "a");
                builder.AddAttribute(15, "class", "dropdown-item");
                builder.AddAttribute(16, "onclick", () => SetNewRoomName(room.Name));
                builder.AddContent(17, room.Name);
                builder.CloseElement();


            }

            builder.CloseElement();
            builder.CloseElement();
        };
    }
    private RenderFragment BuildNewRoomButton()
    {
        return builder =>
        {
            builder.OpenElement(0, "p");
            builder.OpenElement(1, "button");
            builder.AddAttribute(2, "class", "btn btn-primary");
            builder.AddAttribute(3, "style", "margin:10px");
            builder.AddAttribute(4, "onclick", () => BeginBuildingNewRoom());
            if (newRoomName == null)
            {
                builder.AddAttribute(5, "disabled", true);
            }
            if (string.IsNullOrEmpty(newRoomName))
            {
                builder.AddContent(6, "Build New Room");
            }
            else
            {
                builder.AddContent(6, "Build " + newRoomName);
            }

            builder.CloseElement();
            builder.CloseElement();
        };

    }
    private RenderFragment LoadPlanksButton()
    {
        return builder =>
        {

        };
    }
    private RenderFragment LoadBarsButton()
    {
        return builder =>
        {

        };
    }
    private RenderFragment WorkOnRoomButton()
    {
        return builder =>
        {
            builder.OpenElement(1, "button");
            builder.AddAttribute(2, "class", "btn btn-primary");
            builder.AddAttribute(3, "style", "margin:10px");
            if (GameState.isGathering == false && isConstructing == false)
            {
                if (GameState.GetPlayerInventory().GetBestNails() == null)
                {
                    builder.AddAttribute(4, "disabled", true);
                    builder.AddAttribute(4, "title", "You don't have any nails!");
                    builder.AddContent(5, "Construct");
                }
                else
                {
                    builder.AddAttribute(6, "onclick", () => Construct());
                    builder.AddContent(7, "Construct");
                }
            }
            else
            {
                builder.AddAttribute(8, "onclick", () => StopConstruction());
                builder.AddContent(9, "Stop");
            };
            builder.CloseElement();
        };
    }
    private RenderFragment ShowRoomData()
    {
        return builder =>
        {
            if (GameState.currentRoom != null)
            {
                builder.OpenElement(0, "p");
                builder.AddContent(1, GameState.currentRoom.Name);
                builder.CloseElement();
                builder.OpenElement(2, "p");
                builder.AddContent(3, "Level Required:" + GameState.currentRoom.ConstructionLevelRequired);
                builder.CloseElement();
                builder.OpenElement(4, "p");
                builder.AddContent(5, "Planks:" + GameState.currentRoom.PlanksRequired + " " + GetPlankString(GameState.currentRoom.MinimumPlankLevel) + " or better.");
                builder.CloseElement();
                builder.OpenElement(6, "p");
                builder.AddContent(7, "Bars:" + GameState.currentRoom.BarsRequired + " " + GetBarString(GameState.currentRoom.MinimumBarLevel) + "s or better.");
                builder.CloseElement();
                builder.OpenElement(8, "p");
                builder.AddContent(9, "Work Remaining:" + GameState.currentRoom.WorkRemaining);
                builder.CloseElement();
            }
        };
    }
    public string GetPlankString(int level)
    {
        return Program.itemDatabase.GetLogs()[level].ItemName;
    }
    public string GetBarString(int level)
    {
        return Program.itemDatabase.GetSmithingBars()[level].ItemName;
    }
    private void BeginBuildingNewRoom()
    {
        Room newRoom = Program.roomManager.GetRoomByName(newRoomName);
        currentRoom = newRoom;
        newRoom.WorkRemaining = (newRoom.PlanksRequired * 4 * (newRoom.MinimumPlankLevel + 1)) + (newRoom.BarsRequired * 10 * (newRoom.MinimumBarLevel + 1));
        GameState.currentRoom = newRoom;
        StateHasChanged();
    }
    private void BuildNewRoom()
    {
        Room newRoom = Program.roomManager.GetRoomByName(newRoomName);
        GameState.GetPlayer().house.AddRoom(newRoom);
        currentRoom = newRoom;
        StateHasChanged();
    }
    private void CompleteNewRoom()
    {
        currentRoom.IsComplete = true;
        GameState.GetPlayer().house.AddRoom(currentRoom);
        StateHasChanged();
    }
    private void LoadBars()
    {
        GameState.currentRoom.BarsRequired -= 1;
    }
    private void LoadPlanks()
    {
        GameState.currentRoom.PlanksRequired -= 1;
    }
    private void Construct()
    {
        isConstructing = true;
        GameState.isGathering = true;

        GameState.gatherTimer = new Timer(new TimerCallback(_ =>
        {
            if (currentRoom.IsComplete == false)
            {
                GameItem bestNails = GameState.GetPlayerInventory().GetBestNails();
                if (bestNails != null && GameState.GetPlayerInventory().RemoveOneOfItem(bestNails))
                {
                    currentRoom.WorkRemaining -= bestNails.RequiredLevel / 3;
                    GameState.GetPlayer().GainExperience("Construction", bestNails.RequiredLevel / 3);
                    MessageManager.AddMessage("You nail two planks together.");
                }
                if (currentRoom.WorkRemaining <= 0)
                {
                    CompleteNewRoom();
                    GameState.gatherTimer.Dispose();
                }
                GameState.UpdateState();
                StateHasChanged();
            }
        }), null, 1000, 1000);
        GameState.UpdateState();
    }
    private void StopConstruction()
    {
        if (GameState.gatherTimer != null)
        {
            GameState.gatherTimer.Dispose();
            GameState.gatherTimer = null;
        }
        isConstructing = false;
        GameState.isGathering = false;
        StateHasChanged();
        GameState.UpdateState();
    }
    private void SetNewRoomName(string name)
    {
        newRoomName = name;
        StateHasChanged();
    }
    private void GoToRoom(Room room)
    {
        UriHelper.NavigateTo("/House/" + room.ID);
    }
    protected override void OnInit()
    {
        GameState.StateChanged += OnGameStateChanged;
        if(GameState.currentRoom != null)
        {
            currentRoom = GameState.currentRoom;
        }
        this.StateHasChanged();
    }
    void IDisposable.Dispose()
    {
        GameState.StateChanged -= OnGameStateChanged;
    }
    void OnGameStateChanged(object sender, EventArgs e) => StateHasChanged();
}