@page "/Settings"
@inject HttpClient Http
@inject GameState GameState
@inject MessageManager MessageManager
@implements IDisposable

<h1>Settings</h1>

<p><button class="btn btn-primary" onclick="@(() => GameState.ToggleSplitView())">Toggle Split View</button> @GetOnOrOff(GameState.isSplitView)</p>
<p><button class="btn btn-primary" onclick="@(() => GameState.ToggleBankStyle())">Toggle Compact Bank View</button>@GetOnOrOff(GameState.compactBankView)</p>

<p style="font-weight:bold">Expirimental: (Should work fine, but I can't guarantee it.)</p>
<p><button class="btn btn-primary" onclick="@(() => GenerateSaveFile())">Generate Save File</button></p>
<textarea>@quickFixString</textarea>
<p><button class="btn btn-primary" onclick="@(() => LoadDataFromText())">Load From Save File</button></p>
<EditForm Model="@saveModel">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputTextArea id="name" @bind-Value="@saveModel.saveFile" />

</EditForm>

@functions{

    private SaveModel saveModel = new SaveModel();
    private SimpleAES Encryptor = new SimpleAES();
    private string savefile = "Copy the generated save to a safe place.";
    private string loadfile = "";
    private string quickFixString = "";
    private bool GenerateSaveFile()
    {
        savefile = GetSaveDataString();
        quickFixString = savefile;
        this.StateHasChanged();
        return true;
    }
    public string GetSaveDataString()
    {

        return GameState.GetSaveString(Program.areaManager, Program.followerManager, Program.npcManager, Program.buildingManager);

    }

    private void LoadDataFromText()
    {
        string decryptedData = "";
        try
        {
            decryptedData = Encryptor.DecryptString(saveModel.saveFile);
        }
        catch
        {
            MessageManager.AddMessage("Failed to load from file. ");
            return;
        }

        string[] lines = decryptedData.Split('#');

        Dictionary<GameItem, int> bankItems = Extensions.GetItemDicFromString(lines[0], Program.itemDatabase);
        List<Skill> skills = Extensions.GetSkillsFromString(lines[1]);
        Dictionary<GameItem, int> invItems = Extensions.GetItemDicFromString(lines[2], Program.itemDatabase);


        GameState.GetPlayerInventory().ResetMaxSize();
        GameState.GetPlayerBank().GetInventory().LoadItems(bankItems);
        GameState.GetPlayer().SetSkills(skills);
        GameState.GetPlayerInventory().LoadItems(invItems);

        Program.areaManager.LoadSaveData(lines[3]);
        Program.followerManager.LoadSaveData(lines[4]);

        if (int.TryParse(lines[5], out int hp))
        {
            GameState.GetPlayer().CurrentHP = hp;
        }
        else
        {
            GameState.GetPlayer().CurrentHP = GameState.GetPlayer().GetLevel("HP");
        }

        if (int.TryParse(lines[6], out int activeFollower))
        {
            GameState.GetPlayer().activeFollower = Program.followerManager.GetFollowerByID(activeFollower);
        }

        List<string> recipes = lines[7].Split('/').ToList();
        GameState.GetPlayer().LoadRecipes(recipes);


        List<int> equippedItems = new List<int>();
        foreach (string s in lines[8].Split('/') ?? Enumerable.Empty<string>())
        {
            if (int.TryParse(s, out int id))
            {
                equippedItems.Add(id);
            }
        }
        if (equippedItems != null && equippedItems.Count > 0)
        {
            GameState.GetPlayer().EquipItems(equippedItems);
        }
        if (lines.Length > 9 && lines[9] != null)
        {
            string[] settings = lines[9].Split(',');
            GameState.isSplitView = bool.Parse(settings[0]);
            GameState.compactBankView = bool.Parse(settings[1]);
        }
        if (lines.Length > 10 && lines[10] != null)
        {
            Program.npcManager.LoadNPCData(lines[10]);
        }
        if (lines.Length > 11 && lines[11] != null)
        {
            GameState.sushiHouseRice = int.Parse(lines[11].Split(',')[0]);
            GameState.sushiHouseSeaweed = int.Parse(lines[11].Split(',')[1]);
        }
        if (lines.Length > 12 && lines[12] != null)
        {
            string[] salts = lines[12].Split('/');
            foreach (string salt in salts)
            {
                if (salt.Length > 0)
                {
                    int id = int.Parse(salt.Split(',')[0]);
                    int amount = int.Parse(salt.Split(',')[1]);
                    Program.buildingManager.GetBuildingByID(id).Salt = amount;
                }
            }
        }
        if (lines.Length > 13 && lines[13] != null)
        {
            string[] tanneries = lines[13].Split('@');

            foreach (string tannery in tanneries)
            {
                if (tannery.Length > 0)
                {
                    Building t = Program.buildingManager.GetBuildingByID(int.Parse(tannery.Split('>')[0]));
                    string[] tanneryData = tannery.Split('>')[1].Split('_');

                    foreach (string s in tanneryData)
                    {
                        if (s.Length > 0)
                        {
                            TanningSlot slot = new TanningSlot();
                            slot.SetDataFromString(s);
                            t.TanneryItems.Add(slot);

                        }

                    }
                }
            }
        }
        if(lines.Length > 14 && lines[14] != null)
        {
            if(bool.TryParse(lines[14].Split(',')[0], out bool isHunting))
            {
                if (isHunting)
                {
                    GameState.isHunting = true;
                    GameState.huntingAreaID = int.Parse(lines[14].Split(',')[1]);
                    GameState.huntingEndTime = DateTime.Parse(lines[14].Split(',')[2]);

                }
            }
        }
        MessageManager.AddMessage("Save game loaded.");

        GameState.saveDataLoaded = true;
        GameState.UpdateState();
        this.StateHasChanged();
    }
    private string GetOnOrOff(bool value)
    {
        if (value == true)
        {
            return "On";
        }
        else
        {
            return "Off";
        }
    }
    protected override void OnInit()
    {
        GameState.StateChanged += OnGameStateChanged;
        this.StateHasChanged();
    }
    void IDisposable.Dispose()
    {
        GameState.StateChanged -= OnGameStateChanged;
    }
    void OnGameStateChanged(object sender, EventArgs e) => StateHasChanged();
}